@tailwind base;
@tailwind components;
@tailwind utilities;
.title {
  color: #ff3e00;
  text-transform: uppercase;
  font-size: 4em;
}

.pemenang {
  font-size: 10rem;
}
.table tbody tr {
  @apply border-b-2 border-gray-200;
}
.table tbody tr:hover {
  @apply bg-gray-100;
}
.table tr th {
  @apply bg-gray-400;
}
.table tr th,
.table tr td {
  @apply px-3 py-3 text-lg text-left px-16;
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}
